/*ids*/
#welcome{
	/*background-image: url('../resources/canyon.png');*/
	background-size: 98%;
	background-repeat: no-repeat;
	background-position: top;
	width: 1016px;
    margin-left: auto;
    margin-right: auto;
}

#intro_info{
	/*background-color: white;*/
	width: fit-content;
}

#w_intro{
	font-size: 67px;
	color: black;
}

#links{

}

#connect_me{
	margin-bottom: 18px;
}

/*classes*/
.sect{
	margin-left: 20%;
	margin-right: 20%;
}

.row{
	display: flex;
	margin-left: 0;
	margin-right: 0;
}

.h_center{
	vertical-align: middle;
}

.con_img{
	/*display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0%;*/
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.intro_con_img{
	/*display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0%;*/
	height: fit-content;
	position: relative;
	min-height: 1px;
	margin-right: 5px;
	margin-left: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
	border-radius: 25px;
	background-color: white;
}

.intro_connect{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.intro_conn_info{
	font-size: 17px;
	font-weight: bold;
	color: black;
}

.init_cont{
	font-size: 20px;
}

.proj_big{
	/*background-color: rgba(48, 4, 159, .71); */
	background-color: rgb(96,96,96);
	border-radius: 25px;
	/*padding-bottom: 1%;*/
	padding: 1%;
	margin-bottom: 3px;
}

.proj_small{
	/*background-color: rgba(48, 4, 159, .71);*/
	background-color: rgb(96,96,96);
	border-radius: 25px;
	/*padding-left: 1%;*/
	padding: 1%;
	padding-top: 2%;
	margin-top: 1%;
}

.proj_left{
	margin-right: 1%;
}

.proj_title{
	color: white;
	text-align: left;
	padding-left: 0px;
}

.proj_text{
	color: white;
	text-align: left;
	padding-left: 0px;
	font-size: 15px;
}

.proj_image_container{
	display: block;
	/*width: 100%;
	height: 70%;*/
	max-width: 747px;
	max-height: 400px;
	margin-left: auto;
	margin-right:auto;
	padding: 5px;
	/*padding-left: 5px;
	padding-right: 5px;*/
}

.proj_image1{
	width: auto;
	height: 100%;
}

.proj_image2{
	width: 100%;
	height: auto;
}

.proj_desc{
	text-align: center;
	font-size: 18px;
}

.proj_desc .col-sm-4 p{
	margin-top: 5px;
}

